{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" . }} — Snippetbox</title>

        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.icon" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/">Snippetbox</a></h1>
        </header>

        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>

        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    </html>
{{end}}